/* add your styles here */
.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container img {
    width: 95%;
    height: 95%;
    object-fit: cover;
    border-radius: 2px;
  }